body.home {

}
.hero-fifty{
  width: 100%;
  height: auto;
  .uk-width-1-2.right{
    img{
      width: 100%;
      height: auto;
    }
  }
  .uk-width-1-2.left{
    img{
      width: 100%;
      height: auto;
      -webkit-transform: rotate(-26deg);
      -moz-transform: rotate(-26deg);
      -ms-transform: rotate(-26deg);
      -o-transform: rotate(-26deg);
      transform: rotate(-26deg);
      padding-top: 40px;
    }
  }
}
