.hero-fifty{
  width: 100%;
  height: auto;
  .uk-width-1-2.right{
    img{
      width: 100%;
      height: auto;
    }
  }
  .uk-width-1-2.left{
    img{
      width: 100%;
      height: auto;
    }
    //background-size: contain;
    //background-position: center;
    //background-repeat: no-repeat;
    //transform: rotate(-33deg);
  }
}
